*/Data_collection
*/EvaluationBenchmark
*/the50Queries.txt
*/RankingOutputs
IFN647 Assignment 2 (Marking Guide).pptx
IFN647 Assignment 2 (Poster Marking Guide).pdf
IFN647 Assignment 2 (Specification).pdf